:root {
   color-scheme: light;
   --text-color: 240 15% 15%;
   --background-color: 224 100% 98%;
   --element-color: 0 0% 100%;
   --accent-color: 243 47% 57%;
   --grey-color: 220 12% 58%;

   --dark-theme-transition: color .3s ease-in-out, background-color 0.3s ease-in-out;
}

:root.dark {
   color-scheme: dark;
   --text-color: 120 33% 99%;
   --background-color: 240 15% 15%;
   --element-color: 240 12% 20%;
}