@import url('./_reset.css');
@import url('./_variables.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: hsl(var(--background-color));
  color: hsl(var(--text-color));

  transition: var(--dark-theme-transition);
}